-- DropForeignKey
ALTER TABLE "mother_profiles" DROP CONSTRAINT "mother_profiles_motherId_fkey";

-- DropForeignKey
ALTER TABLE "planner_task" DROP CONSTRAINT "planner_task_userId_fkey";

-- DropForeignKey
ALTER TABLE "health_logs" DROP CONSTRAINT "health_logs_motherId_fkey";

-- DropForeignKey
ALTER TABLE "ToolsLog" DROP CONSTRAINT "ToolsLog_motherId_fkey";

-- DropForeignKey
ALTER TABLE "journal_entries" DROP CONSTRAINT "journal_entries_motherId_fkey";

-- DropForeignKey
ALTER TABLE "(health_metrics)" DROP CONSTRAINT "(health_metrics)_motherId_fkey";

-- DropForeignKey
ALTER TABLE "health_moods" DROP CONSTRAINT "health_moods_motherId_fkey";

-- DropForeignKey
ALTER TABLE "health_symptoms" DROP CONSTRAINT "health_symptoms_motherId_fkey";

-- DropForeignKey
ALTER TABLE "baby_metrics" DROP CONSTRAINT "baby_metrics_userId_fkey";

-- DropForeignKey
ALTER TABLE "feeding_logs" DROP CONSTRAINT "feeding_logs_userId_fkey";

-- DropForeignKey
ALTER TABLE "sleep_logs" DROP CONSTRAINT "sleep_logs_userId_fkey";

-- DropForeignKey
ALTER TABLE "growth_records" DROP CONSTRAINT "growth_records_userId_fkey";

-- DropForeignKey
ALTER TABLE "albums" DROP CONSTRAINT "albums_motherId_fkey";

-- DropForeignKey
ALTER TABLE "photos" DROP CONSTRAINT "photos_albumId_fkey";

-- DropForeignKey
ALTER TABLE "refresh_tokens" DROP CONSTRAINT "refresh_tokens_userId_fkey";

-- DropTable
DROP TABLE "user";

-- DropTable
DROP TABLE "mother_profiles";

-- DropTable
DROP TABLE "planner_task";

-- DropTable
DROP TABLE "health_logs";

-- DropTable
DROP TABLE "ToolsLog";

-- DropTable
DROP TABLE "articles";

-- DropTable
DROP TABLE "journal_entries";

-- DropTable
DROP TABLE "(health_metrics)";

-- DropTable
DROP TABLE "health_moods";

-- DropTable
DROP TABLE "health_symptoms";

-- DropTable
DROP TABLE "baby_metrics";

-- DropTable
DROP TABLE "feeding_logs";

-- DropTable
DROP TABLE "sleep_logs";

-- DropTable
DROP TABLE "growth_records";

-- DropTable
DROP TABLE "albums";

-- DropTable
DROP TABLE "photos";

-- DropTable
DROP TABLE "refresh_tokens";

-- DropEnum
DROP TYPE "Stage";

-- DropEnum
DROP TYPE "BabyGender";

